.header{
        text-align: center;
        font-family: Arial;
        font-weight: 600;
}
.main{
        font-family: Arial;
}
.footer{
        text-align: center;
        font-family: Arial;
        font-size: 25px;
}
h1{
        font-size: 40px;
}
u{
        font-size: 32px;
}
p{
        font-size: 20px;
}
body {
        background-image: url(https://avatars.mds.yandex.net/get-altay/1453927/2a000001698f4b25ac3de3e1305fed12d516/orig); 
        background-attachment: fixed;
        background-size: cover;
    }
body    {
        color: rgb(255, 255, 255);
        font-weight: 700;
        margin: 0%;
        }
.footer {
    float: right;
    margin: 53px 740px 0px 0px;
    font: 19.5px 'Verdana'; 
    color: #333;
    text-align: center;
}
a {
    color: blue;
}
